body {
  overflow-x: hidden;
  background: #fff;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}
/* 
:root {
    --darkest: #171617;
    --dark: #2b323a;
    --main: #4d5868;
    --light: #9da6b2;
    --lighter: #e1e8f2;
    --mobile: 660px;
} */
