.bio {
    line-height: 2;
}

.intro,
.bio {
    font-size: 1.2rem;
}

h1 {
    line-height: 1.1;
    color: var(--dark);
    font-family: Avenir;
    font-weight: 900;
    margin-left: -.1ch;
    display: inline;
    font-size: 5rem;
}

.light {
    color: var(--light);
    margin-left: -.5ch;
}

.lighter {
    color: var(--lighter);
    margin-left: -.5ch;
}

.photo {
    position: absolute;
    left: -2rem;
    bottom: 0;
    width: 40vw;
    z-index: 1;
}

@media screen and (max-width: 985px) and (min-width: 700px) {
    .light {
        margin-left: -.57ch;
    }
}

@media screen and (max-width: 836px) and (min-width: 700px) {
    .lighter {
        margin-left: -.57ch;
        position: relative;
        top: -0.4ch;
    }
}

@media screen and (max-width: 660px) {
    ul {
        justify-content: space-between;
    }

    .intro {
        padding: 1rem;
        font-size: 7vw !important;
    }

    .photo-container {
        position: relative;
    }

    img.photo {
        width: calc(100vw + 3.5rem) !important;
    }

    .name {
        white-space: nowrap;
        font-size: 12vw;
    }

    footer {
        background: var(--darkest);
        text-align: center;
        padding-bottom: 4rem;
    }

    .bio {
        line-height: 1;
        display: block;
        margin: 0.6rem 0;
    }

    .icon {
        height: 3rem;
        padding-right: initial;
    }
}