@tailwind base;
@tailwind components;
@tailwind utilities;

/* test extending theme - but this would be for adding a brand new color */

/* I think I need to add the classes for each theme in here and it should work? */

/* wasnt super obvious to me that you need to specify the rgb values in this format — i.e. each value separated without a comma */

.dark {
  --dark: 8 7 7;
  --light: 250 250 250;
  --background: 11 10 10;
  --text: 245 245 245;
  --card: 33 31 31;
  --element: 168 159 159;
  --accent: 193 11 11;
}
.light {
  --dark: 7 8 7;
  --light: 250 250 250;
  --background: 244 245 244;
  --text: 15 16 15;
  --card: 230 233 230;
  --element: 97 107 99;
  --accent: 11 193 84;
}
.elite {
  --background: 12 19 12;
  --text: 245 245 245;
  --card: 32 35 31;
  --element: 160 168 159;
  --accent: 69 193 11;
}
.exec {
  --background: 8 7 7;
  --text: 249 248 233;
  --card: 28 26 0;
  --element: 178 175 145;
  --accent: 236 225 0;
}

.theme-object {
  --background: $bg-color;
  /* darken + lighten */
  --text: $text-color;
  /* darken + lighten */
  --card: $card-color;
  /* darken + lighten */
  --element: $element-color;
  /* darken + lighten */
  --accent: $accent-color;
  /* darken + lighten */
}

.dot-grid {
  background: repeating-radial-gradient(
        circle at 1rem 1rem,
        rgb(var(--element) / 0.08) 0%,
        rgb(var(--element) / 0.08) 4%,
        transparent 4%,
        transparent 100%
      )
      fixed 1rem 1rem/ 2rem 2rem,
    rgb(var(--background));
}

@layer base {
  /* h1 {
    @apply mb-24;
  }
  h2 {
    @apply mb-16;
  }
  h3 {
    @apply mb-12;
  }
  h4 {
    @apply mb-8;
  }
  p {
    @apply my-5 font-light;
  }
  li {
    @apply mb-12;
  } */
  h1,
  h2,
  h3,
  h4,
  p {
    @apply prevent-orphans;
  }
}

@layer components {
  .iso {
    transform: rotateX(8deg) rotateZ(-4deg);
    transform-style: preserve-3d;
    transition: 0.3s;
  }
  .body {
    @apply sm:h-[calc(100vh-4rem)] transition-colors duration-200 text-text bg-background;
  }
  .main-wrapper {
    @apply 2xl:mx-auto sm:overflow-x-visible 2xl:max-w-screen-xl;
  }
  .main-grid {
    /* note - use grid-cols-subgrid for any subgrids */
    @apply grid gap-4 sm:gap-8 grid-cols-3 md:grid-cols-5 lg:grid-cols-9;
  }
  .main {
    @apply main-grid m-4 sm:m-8 mb-40 mt-10 2xl:ml-8;
  }
  .main-content {
    @apply grid grid-cols-subgrid col-span-3 md:col-span-7 lg:col-span-5 md:col-start-1 lg:col-start-2 xl:col-start-2 2xl:col-start-3;
  }
  .sidebar {
    @apply grid gap-4 sm:gap-8 col-span-3 md:col-span-5 lg:col-start-8 lg:col-span-2 grid-cols-4 lg:grid-cols-2 sm:sticky top-8 auto-rows-min xl:col-start-8 2xl:bottom-auto sm:max-h-[calc(1200px_-_1rem)] sm:pb-16;
    /* set top to 0? */
    /* grid-rows-[max-content] */
    /* 2xl:top-[calc((100dvh_-_1200px)/1.4)] sm:max-h-[calc(100vh_-_4rem)]  */
  }
  .bgBlender {
    @apply relative after:shadow-bgBlend after:w-full after:h-full after:absolute after:top-0 after:left-0 dark:after:mix-blend-normal after:mix-blend-color;
  }
  .defaultContainer {
    @apply pt-6 sm:max-lg:pt-4 main-content block prose dark:prose-invert prose-neutral prevent-orphans;
  }
  .caseStudyContainer {
    @apply grid-cols-subgrid grid col-span-3 md:col-span-5 lg:col-span-9;
  }
  .caseStudyContainer > :is(p, h1, h2, h3, h4, ul, ol) {
    @apply defaultContainer;
  }
  .caseStudyContainer > :is(blockquote, img, div, .themed-image) {
    @apply col-span-full;
  }
  .caseStudyContainer > :is(table) {
    @apply col-span-full col-start-2;
  }
  .side-scroll-blender {
    @apply after:absolute after:-top-4 after:-left-4 after:-right-4 after:-bottom-4 p-4 after:bg-transparent-window after:m-4 relative after:pointer-events-none;
  }
  .small-caps {
    @apply text-sm mb-0 text-text/40 font-semibold uppercase leading-tight tracking-[.12em];
  }
}
.prevent-orphans {
  text-wrap: pretty;
}

/* moleskin dot grid as background? --> tried this and it does not perf well at all... at least my approach using a repeating radial gradient, maybe try with svg? */
/* TODO maybe add a custom scrollbar outside of frame ? https://css-tricks.com/custom-scrollbars-in-webkit/ */
/* TODO --> consolidate sidebar class w/sidebar component... :facepalm: */
/* TODO fix case study container defaults */
