ul {
    list-style: none;
    display: flex;
}

.wrapper {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 5fr 4.9fr 0.1fr;
  grid-template-rows: 9.5fr .5fr;
  grid-gap: 0px;
  grid-template-areas:  "l r s"
                        "lb rb sb";
}

@media all and (-ms-high-contrast: none) {
  .wrapper {
    display: -ms-grid;
    -ms-grid-columns: 5fr 4.9fr 0.1fr;
    -ms-grid-rows: 9fr 1fr;
  }
}

.intro {
    grid-area: r;
}

.links {
    grid-area: lb;
    padding: 1rem;
}

footer {
    font-family: 'avenir next', avenir, sans-serif;
    font-weight: 400;
    color: var(--light);
    grid-area: rb;
    padding: 1rem 0;
    line-height: 1.5;
}

.fine-print {
    font-size: .8rem;
}

.icon {
    fill: var(--lighter);
    height: 2.5rem;
    margin-top: 1rem;
    padding-right: 1rem;
}

.name {
     font-size: 4em; 
}

.bio {
    line-height: 2;
}

@media screen and (max-width: 600px) {
    .wrapper {
  display: grid;
  height: 130vh;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 8fr 1fr 1fr;
  grid-template-areas:  "t"
                        "b"
                        "f";
}

ul {
    justify-content: space-between;
}
.intro {
    grid-area: t;
    padding: 1rem;
    font-size: 7vw !important;
}

.links {
    grid-area: b;
    position: relative;
    padding: 4rem 1rem 0;
}

.links img {
    width: calc(100vw + 3.5rem) !important;
}

.name {
     font-size: 12vw; 
}

footer {
    grid-area: f;
    background: var(--darkest);
    /* padding: 1rem; */
    text-align: center;
    padding-bottom: 4rem;
}

.bio {
line-height: 1;
display: block;
margin: 0.6rem 0;
}

.icon {
    height: 3rem;
    padding-right: initial;
}

}